/* Base tag */
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.d-flex-between{
    display: flex;
    justify-content: space-between;
}
.d-flex-evenly{
    display: flex;
    justify-content: space-evenly;
}
.d-flex-around{
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: proxima;
    src: url(../font/Proxima-Nova-Font/Proxima\ Nova\ Font.otf);
}


body{
    font-family: proxima;
}
header{
    height: 46px;
    width: 100%;
    background-color: #2f364a;
}
.header-text p{
    font-size: 12px;
    color: #78829d;
    line-height: 26px;
    margin-top: 15%;
    margin-left: 990%;
}
.help-center ul{
    margin: 10px;
}
.help-center li{
    margin-right: 15px;
}
.help-center a{
    font-size: 13px;
    line-height: 26px;
    color: #78829d;
    opacity: 0.800;
}
.dot{
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(25,32,46,0.7490196078431373);
    opacity: 0.749;
    margin-right: 5%;
}
.account{
    width: 191px;
    background-color: #15a4fa;
    align-items: center;
}
.account-pic{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../media/header-media/49348926_857972471261046_3963865196249743360_n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.account-name p{
    width: 112px;
    font-size: 13px;
    color: white
}

